* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #004D98;
    color: white;
}

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    background: linear-gradient(120deg, #191452, #26106b);
}

.login-box {
    width: 500px;
    margin-top: 10%;
}

.login-box h1 {
    color: #A50044;
    font-size: 38px;
    margin-bottom: 10px;
}

.login-box p {
    font-size: 18px;
    margin-bottom: 70px;
}

.login-box label {
    display: block;
    color: #A50044;
    font-weight: bold;
    margin-bottom: 8px;
}

.login-box input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 0 25px;
    margin-bottom: 25px;
    background: #160d3c;
    color: white;
    font-size: 16px;
    outline: none;
}

.login-box input::placeholder {
    color: #ddd;
}

.login-box button {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 20px;
    background: #A50044;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.login-box button:hover {
    background: #A50044;
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.logo {
    width: 180px;
    transform: translate(-20px, -150px);
    position: relative;
    
}
.cadastro {
    text-align: center;
    margin-top: 20px;
}

.cadastro p {
    display: inline;
    font-size: 14px;
    color: white;
}

.cadastro a {
    color: #ff1616;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    text-decoration: underline;
}

.cadastro a:hover {
    text-decoration: underline;
}

.login {
    text-align: center;
    margin-top: 20px;
    transform: translateY(-10px);
}

.login p {
    display: inline;
    font-size: 14px;
    color: white;
}

.login a {
    color: #ff1616;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    text-decoration: underline;
}

.login a:hover {
    text-decoration: underline;
}

.naveg {
    background: #A50044;
    height: 75%;
    width: 100%;
    padding: 20px;
    border-radius: 2px;
}
.naveg-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.naveg-logo img{
    width: 50px;
}

.naveg-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.naveg-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
}
.naveg-links a:hover {
    color: #191452;
}

.card-laliga {
    width: 900px;
    margin: 40px auto;
    background: white;
    color: #111;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.titulo-laliga {
    background: #111;
    color: white;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-laliga h2 {
    font-size: 22px;
}

.titulo-laliga span {
    color: #aaa;
}

.tabela {
    width: 100%;
}

.linha {
    display: grid;
    grid-template-columns: 50px 1fr repeat(8, 55px);
    align-items: center;
    min-height: 55px;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.linha span:first-child {
    font-weight: bold;
}

.linha strong {
    text-align: left;
}

.cabecalho {
    min-height: 45px;
    background: #f1f1f1;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

.cabecalho span:nth-child(2) {
    text-align: left;
}

.linha:hover:not(.cabecalho) {
    background: #f7f7f7;
}


 

